{% extends 'bases/base_login.html' %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'css/form.css'%}" />
{% endblock %} {% block 'title' %}Cadastro{% endblock %} {% block 'body' %}

<div class="container-fluid bg-inscricao bg-img">
  <div class="box-form custom-container">
    <h1>Cadastre-se</h1>
    {% if messages %} {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %} {% endif %}
    <hr style="border-color: #7e7b7c" />

    <form action="{% url 'cadastro' %}" method="POST">
      {% csrf_token %}

      <label>E-mail:</label>
      <input
        type="email"
        class="form-control"
        placeholder="E-mail"
        name="email"
        required="true"
      />
      <br />
      <div class="row">
        <div class="col-md">
          <label>Senha:</label>
          <input
            type="password"
            class="form-control"
            placeholder="Senha"
            name="senha"
            required="true"
          />
        </div>

        <div class="col-md">
          <label>Confirmar senha:</label>
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar senha"
            name="confirmar_senha"
            required="true"
          />
        </div>
      </div>
      <input type="submit" value="CADASTRAR" class="button cadastro" />
      <p class="new-account">
        Já possui conta?
        <a href="{% url 'login' %}" class="new-account">Entrar</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}
