{% extends 'bases/base_market.html' %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/details.css' %}"/>
{% endblock %} {% block 'title' %}Solutech{% endblock %} {% block 'body' %}

{% block 'marketplace' %}
<li class="nav-item active">
{% endblock %}

<section class="section grid">
    <div class="container grid">
        <div class="details-view">
            <a href="{% url 'marketplace' %}" class="close-view">x</a>
            <div class="row">
                <div class="four columns">
                    <div class="card">
                        <img class="item-thumb" src="/media/{{anuncio.foto}}" alt="">
                    </div>
                </div>
                <div class="eight columns">
                    <h1 class="anounce-title">{{anuncio.titulo}}</h1>
                    <p class="anounce-description">{{anuncio.descricao}}</p>
                    <span class="anounce-price">R$ {{anuncio.valor}}</span>
                    <div class="creation">
                        <span class="creation-date">{{anuncio.data_criacao}}</span>
                    </div>
                    <div class="product-btn">
                        <a href="{% url 'comprar' anuncio.codigo %}" class="button" id="bike-button">Compre</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}