{% extends 'bases/base_app.html' %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'css/app.css'%}" />
{% endblock %} {% block 'title' %}Inicio{% endblock %} {% block 'body' %}

{% block 'inicio' %}
<li class="nav-item active">
{% endblock %}

<section class="section grid">
  {% if not bikes %}
  <h2 class="section-title">Olá, {{user.first_name }}, você não possui bicicletas cadastradas.</h2>
  {% else %}
  <h2 class="section-title">Suas bicicletas cadastradas</h2>
  {% endif %}

  {% if messages %} {% for message in messages %}
  <div class="alert {{ message.tags }}">{{ message }}</div>
  {% endfor %} {% endif %}

  <div class="container grid">
    {% for bike in bikes %}
      <article class="bikes" id="bikes" value="{{bike.ID}}">
        {% if bike.restricao == True %}
        <div class="restricao-bike">RESTRITA</div>
        {% endif %}
        {% if not bike.foto %}
        <div class="none-bike">SEM FOTO</div>
        {% endif %}
        {% if not bike.foto %}
        <img src="{% static 'img/none_bike.png' %}" class="bike-img"/>
        {% else %}
        <img src="/media/{{bike.foto}}" class="bike-img"/>
        {% endif %}
        <div class="bike-name">
          <span class="bike-name">{{bike}}</span>
        </div>
        <a class="button-light" id="bike-button">Opções<i class="bx bx-right-arrow-alt button-icon"></i></a>
      </article>
      <article class="opcoes hidden" id="opcoes" value="{{bike.ID}}">
        <div class="bike-name">
          <span class="bike-name">{{bike}}</span>
          <span class="bike-name">Cod: {{bike.codigo}}</span>
        </div>
        
        {% if bike.marketplace == True %}
        <a class="button-light" href="{% url 'remover' bike.ID %}">Remover</a>
        {% else %}
        <a class="button-light" href="{% url 'anunciar' bike.ID %}">Anunciar</a>
        {% endif %}
        <a class="button-light" href="{% url 'vender_bike' bike.ID %}">Vender</a>
        {% if bike.restricao == True %}
        <a class="button-light" href="{% url 'restringir_bike' bike.ID %}" onclick="return youreSure()">Liberar</a>
        {% else %}
        <a class="button-light" href="{% url 'restringir_bike' bike.ID %}" onclick="return youreSure()">Restringir</a>
        {% endif %}
        <a class="button-light" href="{% url 'excluir_bike' bike.ID %}" onclick="return youreSure()">Excluir</a>
        <a class="button-light" id="opcoes-button"><i class="bx bx-left-arrow-alt button-icon"></i>Voltar</a>
      </article>
    {% endfor %}
  </div>
</section>

{% endblock %}
{% block 'script' %}
    <script src="{% static 'js/verify.js' %}"></script>
{% endblock %}