{% extends 'bases/base_app.html' %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'css/app.css'%}" />
{% endblock %} {% block 'title' %}Inicio{% endblock %} {% block 'body' %}

<section class="section grid">
  {% if not bikes %}
  <h1 class="section-title">
    Olá {{user.first_name }}, você não possui bicicletas cadastradas.
  </h1>
  {% else %}
  <h1 class="section-title">Suas bicicletas cadastradas</h1>
  {% endif %}

  {% if messages %} {% for message in messages %}
  <div class="alert {{ message.tags }}">{{ message }}</div>
  {% endfor %} {% endif %}

  <div class="main-container">
    {% for bike in bikes %}
    <div class="container">
      {% if bike.restricao == True %}
      <article class="bike restricao">
      {% else %}
      <article class="bike">
      {% endif %}
      <div class="card">
          <a><img src="/media/{{bike.foto}}" /></a>
        </div>
        <h1 class="bike-name">{{bike}}</h1>
        <div class="buttons">
          <a href="{% url 'vender_bike' bike.ID %}">Vender</a>
          {% if bike.restricao == True %}
          <a href="{% url 'restringir_bike' bike.ID %}" onclick="return youreSure()">Liberar</a>
          {% else %}
          <a href="{% url 'restringir_bike' bike.ID %}" onclick="return youreSure()">Restringir</a>
          {% endif %}
          <a href="{% url 'excluir_bike' bike.ID %}" onclick="return youreSure()">Excluir</a>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
{% block 'script' %}
    <script src="{% static 'js/verify.js' %}"></script>
{% endblock %}