{% extends 'bases/base_app.html' %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'css/app.css'%}" />
{% endblock %} {% block 'title' %}Inicio{% endblock %} {% block 'body' %}

<section class="section grid">
  {% if not bikes %}
  <h1 class="section-title">
    Olá {{user}}, você não possui bikes cadastradas.
  </h1>
  {% else %}
  <h1 class="section-title">Suas bikes cadastradas</h1>
  {% endif %}
  <div class="main-container">
    {% for bike in bikes %}
    <div class="container">
      <article class="bike">
        <div class="card">
          <a><img src="/media/{{bike.foto}}" /></a>
        </div>
        <h1 class="bike-name">{{bike}}</h1>
        <div class="buttons">
          <a href="{% url 'vender_bike' bike.ID %}">Vender</a>
          <a href="">Restringir</a>
          <a href="">Excluir</a>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
