{% extends 'bases/base_app.html' %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'css/form.css'%}" />
{% endblock %} {% block 'title' %}Vender{% endblock %} {% block 'body' %}

<div class="container-fluid bg-inscricao bg-img">
  <div class="box-form custom-container">
    <h1>Vender Bike</h1>
    {% if messages %} {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %} {% endif %}
    <hr style="border-color: #7e7b7c" />
    <p class="info">Você está vendendo: {{ bike.modelo }}</p>
    <form action="" method="POST">
      {% csrf_token %} {{ form.as_p }}

      <br />
      <input type="submit" value="VENDER" class="button" />
    </form>
  </div>
</div>

{% endblock %}
